.blog {
    background-color: #191919;
    /* background-color: red; */
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.blog_txt {
    height: auto;
    width: 100%;
    /* background-color: aqua; */
    margin: auto;

}

.blog_txt h1 {
    color: white;
    text-align: center;
    font-weight: 700;
    font-family: Poppins, sans-serif;
    margin: 0 0 15px;
    font-size: 60px;
    margin-bottom: 8px;
    padding-top: 70px;
}

.blog_txt p {
    padding: 0 10%;
    font-weight: 300;
    font-size: 22px;
    line-height: 30px;
    font-family: Poppins, sans-serif;
    color: gray;
    text-align: center;
}

.main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* background: #bbb; */
    width: 65%;
    margin: auto;

}

.main_cardd {
    width: 370px;
    height: 550px;
    margin: 15px;
    border: none;
    border-radius: 8px;
    background: #fff;
    box-sizing: border-box;
    overflow: hidden;
    justify-content: flex-start;
    /* transition: all 1s; */
}

.img1 {
    background-image: url('https://trydo.rainbowit.net/assets/images/blog/blog-01.jpg');
    background-size: cover;

}

.img2 {
    background-image: url('https://trydo.rainbowit.net/assets/images/blog/blog-02.jpg');
    background-size: cover;

}

.img3 {
    background-image: url('https://trydo.rainbowit.net/assets/images/blog/blog-03.jpg');
    background-size: cover;

}

.img2_txt {
    height: 40%;
    width: 80%;
    /* background-color: red; */
    margin: auto;
    top: 75%;
    padding: 0px, 35px;
    text-align: start;
    position: relative;
}

.img2_txt h4 {
    color: #bbb;
    /* margin-left: 100px; */
    font-family: Poppins, sans-serif;
}

.img2_txt h3 {
    /* text-align: center; */
    font-size: 24px;
    line-height: 36px;
    color: white;
}

.img2_txt button {
    height: 40px;
    color: white;
    background-color: transparent;
    border-radius: 5px;
    border: solid gray;
    margin-top: 50px;
    cursor: pointer;
}

.main_cardd:hover {
    cursor: pointer;
}



.main_cardd:hover .img2_txt {
    transform: translateY(-100px);
    transition: 0.4s ease;

}

.blog_end {
    background-color: #191919;
    height: 100px;
    width: 100%;
}

@media screen and (max-width:600px) {
    .main {
        width: 80%;
    }

    .main_cardd {
        width: 700px;
        height: 490px;

    }
}